@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.form-container {
    margin-bottom: 20px;
}

.input-field {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e6e6e6;
    color: black;
}

.add-button {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #0056b3;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.list-container {
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: #333;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.list-container div {
    word-spacing: 2em;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
}